<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>SignUp/Login</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

 .nav-link{
    color:black;
    font-weight: 600;




}
.navbar-brand{
    color: black;
    font-family:fantasy;
    font-size: 30px;
    font-weight: 800;
}

.card{
padding: 0px 15px;
	border-radius: 20px
}

.c1{
background-color: #fff2f1;
border-radius: 20px;


}
input[type=text], input[type=password], textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(250, 250, 250);
  outline: none;
}
 div {
            padding: 10px 0;
         }
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity: 1;
}

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light" style="position:static;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'homepage' %}"><i class="fas fa-laptop"></i>&nbsp;SchoolMart</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
              </li>
            <li class="nav-item">
              <a class="nav-link px-5" href="{% url 'loginpage' %}">Login</a>
            </li>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5" href="{% url 'registerpage' %}">Register</a>
        </li></li>
        <li class="nav-item">
          <a class="nav-link px-5" href="{% url 'homepage' %}">Home</a>
        </li>

          </div>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-12 col-lg-11 col-xl-10">
                <div class="card d-flex mx-auto my-5">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 col-xs-12 c1 p-5">
                            <div class="row mb-5 m-3"> </div>
                            <div class="row justify-content-center">
                                <div class="w-75 mx-md-5 mx-1 mx-sm-2 mb-5 mt-4 px-sm-5 px-md-2 px-xl-1 px-2">
                                    <h1 class="wlcm" style="text-align:center"><br><br><br><br><br><br><br><br>School Mart </h1>                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12 c2 px-5 pt-5">
                            <div class="row">
                                <form action="{% url 'usercreate' %}" method="post">
                                    {% csrf_token %}

                                    <div class="container">
                                      <h1 style="text-align:center"> Student Registration</h1>
                                    <hr>
                                    <label> Firstname </label>
                                  <input type="text" name="first_name" class="form-control" placeholder= "Firstname" size="15" required />

                                  <label> Lastname: </label>
                                  <input type="text" name="last_name" class="form-control" placeholder="Lastname" size="15"required />
                                  <div>
                                  <label>
                                  Department :
                                  </label>

                                  <select>
                                  <option value="Course">Select Your Dept.</option>
                                  <option value="BCA">Science (Bio-Maths)</option>
                                  <option value="BBA">Science (CS-Maths)</option>
                                  <option value="B.Tech">Commerce with Maths</option>
                                  <option value="MBA">Commerce with CA</option>
                                  <option value="MCA">Humanities</option>

                                  </select>
                                  </div>
                                  <div>
                                  <label>
                                  Gender :
                                  </label><br>
                                  <input type="radio" value="Male" name="gender" checked > Male
                                  <input type="radio" value="Female" name="gender"> Female
                                  <input type="radio" value="Other" name="gender"> Other

                                  </div>

                                   <label for="email"><b>Email</b></label>
                                   <input type="text" class="form-control" placeholder="Enter Email" name="email" required>

                                   <label for="email"><b>Username</b></label>
                                   <input type="text" class="form-control" placeholder="Enter Username" name="username" required>

                                      <label for="psw"><b>Password</b></label>
                                      <input type="password" class="form-control" placeholder="Enter Password" name="password" required>

                                      <label for="cpassword"><b>Confirm Password</b></label>
                                      <input type="password"class="form-control" placeholder="Retype Password" name="cpassword" required>
                                      <button type="submit" class="registerbtn">Register</button>
                                      <p><b>Have A SchoolMart Account?</b> &nbsp; <a href="{% url 'loginpage' %}">Login</a></p>
                                  </form>

                          </div>


                            </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>